* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
body {
    display: flex;
    min-height: 100vh; 
    flex-direction: column;
    background-color: #9D6A40;
}
header {
    display: inline-flex;
    width: 100%;
    background-color: #9D6A40;
    height: 100px;
    justify-content: center;
}
header img {
    width: 150px;
}
header div {
    font-size: .7rem;
    color: #341800;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    background-color: #341800;
    margin-bottom: 10px;
    overflow:auto;
}
#primaryNav {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav button {
    margin: 5px;
    width: 33%;
    background-color: #341800;
    color: #C49268;
    border: 2px solid #C49268;
}
nav ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
}

nav ul.hide {
    display: none;
}

nav ul li a {
    display: inline-flex;
    background-color: #341800;
    border: 1px solid #C49268;
    color: #C49268;
    text-decoration: none;
    text-align: center;
    font-size: 3.0vw;
    padding: 12px;
    margin: 3px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}
nav ul li.active a {
    color: #C49268;
    background-color: #001F1F;
}
nav ul li a:checked, nav ul li a:visited {
    color: #C49268;
}
nav ul li a:hover {
    background-color: #063535;
    color: #C49268;
}
img {
    width: 100%;   
}
footer {
    display: inline-flex;
    flex-direction: column;
    background-color: #341800;
    color: #c49268;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: .7rem;
    padding-top: 5px;
    margin-top: auto;
    flex-shrink: 0;
}
footer p {
    margin: .5px;
    padding: .5px;
    text-decoration: none;
}
footer p a, footer p a:visited{
    text-decoration: none;
    color: #3F7676;
}

/*home Specifics*/
#home figure {
    text-align: center;
    font-size: 4vw;
    border: 3px solid #C49268;
    width: 97%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #341800;
}
#home .side-by-side figure h4 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
}
#home .action a h3 {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    border: .5px solid #144C4C;
    background-color: #001F1F;
    color: #3F7676;
}

#home .action a {
    text-decoration: none;
}

/*tours Specifics*/
#tours h3 {
    text-align: center;
    font-size: 2rem;
    color: #341800;
    background-color: #C49268;
    margin: 0;
    padding: 0;
}
#tours .side-by-side {
    width: 100%;
    margin: 0 auto;
}
#tours .side-by-side figure {
    margin-top: 2px;
    text-align: center;
    font-size: 4vw;
    border: 3px solid #C49268;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    color: #341800;
}
#tours .side-by-side figure h4 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;    
}
#tours figure figcaption {
    margin: 4px auto;   
}
#tours .credit {
    text-align: center;   
}

/*events Specifics*/
#events article {
    text-align: center;
    color: #341800;
}
#events form {
    text-align: center;
    align-items: center;
}
#events form fieldset {
    background-color: #341800;
    color: #C49268;
    border: 1px solid #fff;
    margin-bottom: 5px;
}

#events form legend {
    font-size: 1.3rem;
    color: #341800;
    padding: .3em;
    background-color: #C49268;
    border: 1px solid #000;
}
#events form label {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 250px;
}
#events form textarea {
    width: 75%;
    margin: 0 auto;
}

/*sales Specifics*/
#sales h3 {
    text-align: center;
    font-size: 2rem;
    color: #341800;
    background-color: #C49268;
    margin: 0;
    padding: 0; 
}
#sales .accordion {
    width: 98%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#sales .accordion li {
    list-style-type: none;
    border: 2px solid #341800;
    background-color: #C49268;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
}
#sales .accordion li figure {
    display: none;
}
#sales .accordion li p {
    margin: 0;
    padding: 0;
    color: #00033a;
}

/*services Specifics*/
#services h3, #services article {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #341800;
}
#services article table {
    width: 75%;   
}
tr, th, td {
    border: 1.5px solid #592E0B;
    text-align: center;
    padding: 5px;
    background-color: #C49268; 
}
#services article p {
    border: 1.5px solid #592E0B;
    width: 95%;
}
/*contact Specifics*/
#contact h3 {
    text-align: center;
    font-size: 2rem;
    color: #341800;
    background-color: #C49268;
    margin: 0;
    padding: 0;    
}
#contact iframe {
    display: block;
    margin: 0 auto;
    width: 95%;
    height: 300px;
}
#contact form {
    text-align: center;
    align-items: center;
    margin-top: 15px;
}
#contact form legend {
    font-size: 1.3rem;
    color: #341800;
    padding: .3em;
    background-color: #C49268;
    border: 1px solid #000;
}
#contact form label {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 250px;
}
#contact form textarea {
    width: 75%;
    margin: 0px auto;
}
#contact form fieldset {
    background-color: #341800;
    color: #C49268;
    border: 1px solid #fff;
    margin-bottom: 5px;
}
/*successful Specifics*/
#successful article {
    text-align: center;
    color: #341800;
    font-size: 1.2rem;
}
/*overview Specifics*/
#overview video {
    width: 75%;
    height 350px;
    margin: 0 auto;
}