@media only screen and (min-width: 37.5em) {
nav button { display:none; }

nav ul {
    display: inline-flex;
    justify-content: space-around;
}
    
nav ul.hide {
    display: inline-flex;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    font-size: 1.2rem;
    border: none;
    margin: 0;
}

a:hover, a:visited, a:active, a {
    color: #C49268;
    text-decoration: none;
    list-style-type: none;
}

/*home Specifics*/
#home .action {
    display: block;
}
#home .side-by-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#home .side-by-side figure {
    width: 48%;
}
#home .side-by-side figure p {
    font-size: 1rem;
}
    
/*tours Specifics*/
#tours .side-by-side {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#tours .side-by-side figure {
    width: 48%;
}
#tours .side-by-side figure img {
}
#tours .side-by-side figure figcaption {
    font-size: 1.2rem;
}
    
/*events Specifics*/


/*sales Specifics*/


/*services Specifics*/
#services div {
    display: flex;
    flex-direction: row-reverse;
}

/*contact Specifics*/
    
    
/*successful Specifics*/
    
    
/*overview Specifics*/
    

}