@media only screen and (min-width: 37.5em) {
nav button { display:none; }

nav ul {
    display: inline-flex;
    justify-content: space-around;
}
    
nav ul.hide {
    display: inline-flex;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    font-size: 1.2rem;
    border: none;
    margin: 0;
}

a:hover, a:visited, a:active, a {
    color: #C49268;
    text-decoration: none;
    list-style-type: none;
}

/*home Specifics*/
    
    
/*tours Specifics*/
    
    
/*events Specifics*/


/*sales Specifics*/


/*services Specifics*/


/*contact Specifics*/
}